/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {
    
}

.fundo
{
    -fx-background-color: #005B93;
    -fx-background-image: url('../images/PadraoFundo.png');
    -fx-background-size: 100px;
    
}

.titulo
{
    -fx-background-color: #FF6A10;
    -fx-background-radius: 0px 0px 20px 20px;
}

.botaoNormal 
{
    -fx-background-color: #FF6A10;
}

.botaoRedondo
{
    -fx-background-radius: 360;
}

.botaoFechar
{
    -fx-background-color: #FF2C10;
}